<div class="control-panel-wrapper">
    <div class="search-panel">
        <label>
            Search
            <input type="text" [formControl]="searchControl">
        </label>
    </div>
    <div class="filters-panel">
        <div class="filter-by-rating" [formGroup]="filterByRating">
            <h4>Filter by rating</h4>
            <div>
                <input type="radio" id="viewersRating" value="Viewers rating" formControlName="filterBy">
                <label for="viewersRating">Viewers rating</label>
            </div>

            <div>
                <input type="radio" id="criticsRating" value="Critics rating" formControlName="filterBy">
                <label for="criticsRating">Critics rating</label>
            </div>

            <div class="filter-by-rating-operator">
                <select formControlName="operator">
                    <option *ngFor="let operator of operators" [ngValue]="operator">
                        {{ operator }}
                    </option>
                </select>
                <input type="number" min="0" max="10" formControlName="number">
            </div>
        </div>
    </div>
</div>