<div class="table-wrapper">
    <table>
        <thead>
            <tr>
                <th *ngFor="let col of cols" (click)="sort(col)">{{col}} </th>
            </tr>
        </thead>
        <tbody #searchResults>
            <tr *ngFor="let movie of movies$ | async">
                <!-- <td *ngFor="let key of cols" appHighlight [searchString]="search" [key]="key">
                    {{movie[key]}}</td> -->
                <td *ngFor="let key of cols">{{movie[key]}}</td>
            </tr>
        </tbody>
    </table>
    <div *ngIf="searchResults.children.length===0" class="empty-search-result">No movies found</div>
</div>